@charset "ISO-8859-1";

.regForm, .loginForm{
	width:45%;
	 display: grid;
  grid-row-gap: 10px;
}

.myforms{
	gap:10%;
	width:100%;
	margin-top:50px;
}

.add-button{
	margin:0 auto;
	margin-top:15px;
}

.all_books_table{
	border: 2px solid black;
	margin-top:30px;
}

.mynav{
	margin: 15px 0 5px 0;
}

.add_book_form{
	width:80%;
	 display: grid;
  grid-row-gap: 10px;
}

.edit_delete{
	gap:10px;
}
