@charset "ISO-8859-1";


form{
	width: 50%;
	margin: 0 auto;
	border: 2px solid black;
	padding: 5%;
	gap:10px;
}

.mymsg{
	background-color: blue;
	border: 2px solid black;
}

.mycontainer{
	width:50%;
	margin: 0 auto;
}